.btn_wrap {margin-left: 2.4rem; font-size: 1.9rem;}
.btn_wrap > div {margin-bottom: 5rem;}

/* btn_box */
.btn_box {display: flex; width: 34.2rem; height: 6.4rem;}
.btn {width: 9.8rem; height: 6.4rem; padding: 1.75rem 2.4rem; line-height: 0.8rem; font-size: 1.9rem; text-align: center; border-radius: 0.8rem;}
.btn_box > button:first-child {color: #FFF; background-color: #256EF4; border: 1px solid #256EF4;}
.btn_box button:nth-child(2) {margin: 0 2.4rem; border: 1px solid #256EF4; color: #0B50D0; background-color: #ECF2FE;}
.btn_box button:last-child {border: 1px solid #58616A; background-color: #FFF;}

/* btn_text */
.btn_text {position: relative; display: flex; width: 15.4rem; height: 4.0rem;}
.btn_text button:first-child {width: 3.7rem; height: 100%; margin-right: 2.4rem; font-size: 1.9rem;}
.btn_text button:nth-child(2) {display: flex; justify-content: center; align-items: center; width: 9.3rem; height: 100%; font-size: 1.9rem;}
.btn_text button:nth-child(2)::before {content: url(/resources/icons/download.png); width: 2.4rem; height: 2.4rem;}
.btn_text button:nth-child(2)::after {content: url(/resources/icons/Vector.png); width: 2.4rem; height: 2.4rem;}

/* btn_icon */
.btn_icon {display: flex;}
.btn_icon button {display: flex; width: 6.5rem; height: 2.9rem; justify-content: center; align-items: center; font-size: 1.9rem;}
.btn_icon button::after {content: url(/resources/icons/open-new-window-bk.png); width: 2.4rem; height: 2.4rem;}
.btn_icon button:first-child::after {content: url(/resources/icons/open-new-window-bl.png); width: 2.4rem; height: 2.4rem;}
.btn_icon button:nth-child(2) {margin: 0 2.4rem;}